<div class="d-flex my-2">
    <img class="me-2" height="30" src="img/icons/@Icon" />
    <p class="font-serif text-16">@Description</p>
</div>

@code {
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string Icon { get; set; }
}
