
<div class="d-flex mt-4">
    <div class="col-sm-2 col-md-1  text-end"><img height="35" src="img/icons/@Icon" /></div>
    <div class="col-sm-10 col-md-11 ms-3">
        @Description        
    </div>
</div>

@code {
    [Parameter]
    public string? Icon { get; set; } = null!;
    [Parameter]
    public string? Description { get; set; } = null!;

}
