
<div class="d-flex justify-content-center align-items-center bg-div-1  hz-height-dv-1" style="top:80px;" >
    <div id="@tittle_hz_div_1.Replace(" ","").Replace("&","")" class="text-white font-anton text-24" style="scroll-margin-top:80px;" tabindex="0">@tittle_hz_div_1</div>
</div>

@code {

    [Parameter]
    public string? tittle_hz_div_1 { get; set; }


}
