@page "/"

<section >
    <div class="bg-black">
        <div class="row">
            <div class="col-6">
                <div class="d-flex justify-content-end align-items-center h-100">
                <div class="col-11 col-sm-10 col-md-7 col-lg-6">
                    <div class="text-white">
                    <p class="fs-3 fw-light">Bussines services</p>
                    <h3 class="fs-3 fw-bold">Understanding your business</h3>
                    <p class="fw-light">That economics ought to command more respect is keenly felt. One professor can barely contain his scorn. </p>
                    </div>
                    <div>
                            <Button Color="Color.Warning">Contactar</Button>
                    </div>
                </div>

                </div>
                


            </div>
            <div class="col-6" style="height:500px"   >
                <div style="height:500px;background-image: url('img/portada6.jpg');background-repeat:no-repeat"></div>              
            </div>
        </div>
    </div>




</section>



