@page "/"


<!-- Principal --!>

<Segment p_tittle_hz_div_1="Intro" p_hz_dv_1_active="false">
    <SegmentContent1Colum2 smActiveDividerContent1="false"
                           smActiveDividerContent2="false"
                           orderSmContent1="order-1"
                           orderSmContent2="order-0">
        <Content1>
            <div class="d-flex h-lg-100 bg-sg-2">
                <div class="align-self-center p-3 p-sm-4 p-md-5 p-lg-4 p-xl-5">
                    <p class="text-black text-center font-st-pt-21">More than 16 years of outstanding experience developing innovative financial and administrative automatization solutions, as well as remarkable business management.</p>
                    <p class="text-black text-center font-st-pt-18 fst-italic">"I am able to turn complex problems into creative solutions."</p>
                </div>
            </div>
        </Content1>
        <Content2>
            <div class="bg-black h-100">
                <div class="row m-0 align-items-center p-2 fade-in bg-photo-intro">
                    <div class="col-1"></div>
                    <div class="col-sm-10 col-md-7 col-lg-6 p-0 margin-top-tittle">
                        <div class="text-center h-100 fade-in-bottom">
                            <p class="text-white font-qs-pt-24 m-0">Full Stack .Net Developer</p>
                            <p class="text-white font-qs-pt-16" style="opacity:0.8;">Specialized in financial automation</p>
                        </div>
                    </div>
                    <div class="col-sm-1 col-sm-4 col-lg-5"></div>
                </div>
            </div>
        </Content2>
    </SegmentContent1Colum2>
</Segment>
<Segment p_tittle_hz_div_1="Skills" p_hz_dv_1_active="true">
    <SegmentContent1Colum2 ActiveSection2="true"
                           ActiveTittleDivider2="true"
                           BgColorOutsideTittle3="bg-div-1"
                           orderSmContent2="order-0"
                           orderSmContent4="order-1"
                           orderSmContent1="order-2"
                           orderSmContent3="order-3"
                           OutsideTittle3="Business"
                           OutsideTittle4="Software Development">
        <Content1>
            <div class="h-100 bg-black">
                <div class="bg-bussines-photo">
                </div>
            </div>

        </Content1>
        <Content2>
            <div class="p-2">
                <ul class="font-st-pt-18 list-st">
                    <li>Professional, intelligent, responsible, and ethical leadership.</li>
                    <li>High capacity for innovation and clever resolution of complex problems.</li>
                    <li>Excellent skills and experience in personnel management.</li>
                    <li>Strategic thinking and long-term vision.</li>
                </ul>
            </div>

        </Content2>
        <Content3>
            <div class="h-100 p-4">

                <div class="d-flex flex-column font-st-pt-16">

                    <BussinesSkills Description="Experience and advanced knowledge in Accounting and Auditing."
                                    Icon="auditing.svg"></BussinesSkills>
                    <BussinesSkills Description="Financial reports automation."
                                    Icon="document.svg"></BussinesSkills>
                    <BussinesSkills Description="Accounting entries automation."
                                    Icon="entries.svg"></BussinesSkills>
                    <BussinesSkills Description="Internal controls process automation."
                                    Icon="internalcontrol.svg"></BussinesSkills>
                    <BussinesSkills Description="Bank reconciliation automation."
                                    Icon="bank.svg"></BussinesSkills>
                    <BussinesSkills Description="Payments automation."
                                    Icon="payments.svg"></BussinesSkills>
                    <BussinesSkills Description="Data entry Automation."
                                    Icon="keyboard.svg"></BussinesSkills>

                    <BussinesSkills Description="Advanced knowledge in financial, investment, and business management."
                        Icon="finangrow.svg"></BussinesSkills>
                    <BussinesSkills Description="Excellent ability for comprehensive risk assessment and development of effective strategies."
                                    Icon="think.svg"></BussinesSkills>

                </div>
            </div>

        </Content3>
        <Content4>


            <SegmentContent2Colum2 ActiveSection2=true
                                   ActiveDivider1=true
                                   ActiveDivider2=true
                                   ActiveTittleDivider1=true
                                   ActiveTittleDivider2=true
                                   BgColorOutsideTittle1="bg-black"
                                   BgColorOutsideTittle2="bg-black"
                                   BgColorOutsideTittle3="bg-black"
                                   BgColorOutsideTittle4="bg-black"
                                   OutsideTittle1="Languages"
                                   OutsideTittle2=".NET Frameworks & Libraries."
                                   OutsideTittle3="IDEs"
                                   OutsideTittle4="Other Frameworks & Libraries">
                <Content1>


                    <div class="d-flex h-100 p-2 bg-black text-white">
                        <div class="d-flex align-self-center">
                            <ul class="font-SC-pt-16 list-st-cd pe-2">
                                <li class="fw-bold">C#</li>
                                <ul class="font-SC-pt-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">Linq;</li>
                                    <li class="ps-2">Razor;</li>
                                    <li class="ps-2">XAML;</li>
                                    <li class="ps-2">CSHTML;</li>
                                    <li>} </li>
                                </ul>
                                <li class="fw-bold">SQL</li>
                                <ul class="font-SC-pt-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">T-SQL;</li>
                                    <li>} </li>
                                </ul>
                                <li class="fw-bold">Javascript</li>
                                <ul class="font-SC-pt-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">HTML;</li>
                                    <li class="ps-2">CSS;</li>
                                    <li class="ps-2">JQuery;</li>
                                    <li>} </li>
                                </ul>
                            </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center  flex-grow-1 ">
                            <img class="p-1" height="60" src="img/icons/csharp.svg" />

                            <div class="d-flex justify-content-evenly align-self-center">
                                <img class="p-1 align-self-center" height="50" src="img/icons/javascript.svg" />
                                <img class="p-1 align-self-center" height="50" src="img/icons/html5.svg" />
                            </div>
                            <img class="p-1" height="90" src="img/icons/tsql.svg" />
                        </div>
                    </div>
                </Content1>
                <Content2>

                    <div class="d-flex h-100 p-2 bg-black text-white">
                        <div class="align-self-center">
                            <ul class="font-SC-pt-16 list-st-cd pe-2">
                                <li class="fw-bold">ASP.NET core</li>
                                <ul class="font-SC-pt-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">Blazor WebAssembly;</li>
                                    <li class="ps-2">Blazor Server;</li>
                                    <li class="ps-2">EF Core;</li>
                                    <li>} </li>
                                </ul>
                                <li class="fw-bold">ASP.NET</li>
                                <ul class="font-SC-pt-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">ASP.NET MVC;</li>
                                    <li class="ps-2">ASP.NET Web API;</li>
                                    <li class="ps-2">ASP.NET Web Pages;</li>
                                    <li class="ps-2">ASP.NET Web Forms;</li>
                                    <li>} </li>
                                </ul>
                                <li class="fw-bold">.NET Framework</li>
                                <ul class="font-SC-pt-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">WPF;</li>
                                    <li class="ps-2">Entity Framework;</li>
                                    <li>} </li>
                                </ul>
                            </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center  flex-grow-1">
                            <img class="m-2 md-logo" src="img/icons/netcore.svg" />
                            <div class="d-block d-sm-flex justify-content-evenly align-self-center text-center">
                                <img class="m-2" height="50" src="img/icons/blazor.svg" />
                                <img class="m-2" height="50" src="img/icons/netframework.svg" />
                            </div>
                            <img class="m-2 md-logo" src="img/icons/aspnetcore.svg" />
                        </div>
                    </div>
                </Content2>
                <Content3>
                    <div class="d-flex h-100 p-2 bg-black text-white">
                        <div class="d-flex w-100 justify-content-evenly align-self-center">
                            <img class="m-2" height="100" src="img/icons/visualstudio.svg" />
                            <img class="m-2" height="105" src="img/icons/sqlssms.png" />
                        </div>
                    </div>

                </Content3>
                <Content4>
                    <div class="d-flex h-100 p-2 bg-black text-white">
                        <div class="align-self-center">
                            <ul class="font-SC-pt-16 list-st-cd pe-2">
                                <li class="fw-bold">Sap Business One SDK</li>
                                <li class="fw-bold">Api Management SDK</li>
                                <ul class="font-SC-pt-14 list-unstyled">
                                    <li>{</li>
                                    <li class="ps-2">PayPal .NET SDK;</li>
                                    <li class="ps-2">Stripe .NET SDK;</li>
                                    <li class="ps-2">Twilio .NET SDK;</li>
                                    <li class="ps-2">Gmail .NET SDK;</li>
                                    <li>} </li>
                                </ul>
                            </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-center  flex-grow-1">
                            <div class="text-center">
                                <img class="lg-logo" src="img/icons/sap.png" />
                            </div>
                        </div>
                    </div>
                </Content4>

            </SegmentContent2Colum2>
        </Content4>
    </SegmentContent1Colum2>
</Segment>

<!--Work & Projects--!>
<Segment p_tittle_hz_div_1="Work & Projects" p_hz_dv_1_active="true">
    <SegmentContent1Colum2 ActiveDivider1="true"
                           ActiveSection2="true"
                           ActiveTittleDivider1="true"
                           ActiveTittleDivider2="true"
                           BgColorOutsideTittle4="bg-black"
                           OutsideTittle1="Work"
                           OutsideTittle2="Remarkable Projects"
                           OutsideTittle3="Education"
                           OutsideTittle4="Repositories">
        <Content1>
            <SegmentContent2Colum1 ActiveDivider1="true"
                                   ActiveDivider2="true"
                                   ActiveTittleDivider1="true"
                                   ActiveTittleDivider2="true"
                                   ActiveSection2="true"
                                   OutsideTittle1="Full Stack .Net Developer"
                                   OutsideTittle3="Director of Administration and Finance">
                <Content1>
                    <div class="px-3">
                        <div class="d-flex mt-2 mb-2 font-Atn-pt-14 text-color-sg-2">
                            <div>Self-employed</div>
                            <div class="ms-2">2022-Present</div>
                        </div>
                        <ul class="font-st-pt-16 list-st">
                            <li>As Full Stack .Net Developer specialized in financial automation, I'm collaborating in different projects related to tech, crypto and finances.</li>
                        </ul>
                    </div>
                </Content1>
                <Content3>
                    <div class="px-3">
                        <div class="d-flex mt-2 mb-2 font-Atn-pt-14 text-color-sg-2">
                            <div>Marluis Invesments</div>
                            <div class="ms-2">2006-2022</div>
                        </div>
                        <ul class="font-st-pt-16 list-st">
                            <li>Management of automation processes for financial operations.</li>
                            <li>Management and direction of internal software development oriented to financial automation processes.</li>
                            <li>Management and deveolp of reporting in SQL and Business Intelligence tools.</li>
                            <li>Software development in the .NET Framework environment, .NET Core and SAP Business One SDK.</li>
                            <li>Financial and accounting integration of internal software developments with the SAP Business One ERP system.</li>
                            <li>Direction, creation and supervision of the financial and accounting software development process oriented to the e-commerce platform.</li>
                            <li>Company planning and financial management.</li>
                            <li>Management of accounting, financial, administrative, and human resources areas.</li>
                            <li>Supervision of administrative and accounting processes, internal audit, internal control, and personnel management.</li>
                        </ul>
                    </div>
                </Content3>
            </SegmentContent2Colum1>

        </Content1>
        <Content2>

            
            <div class="d-flex flex-column h-100 text-white bg-black p-3">
                <div class="fst-italic text-white-50 mt-2 text-center">#EnterprisePrivateProjects</div>
                <Project tittle="E-Comerce 2.0 Year:  2021"
                         description="The second version of the groceries eCommerce web app was developed to exploit the potential of the latest technologies from Microsoft ASP.NET Core."
                         action="I was involved in the five steps of software development of the App's financial, accountant, and administrative components. I also taught programming to our team's newest members."
                         Languages="C#, JavaScript, SQL, LINQ, Razor, HTML, CSS.;"
                         FrameworksLibraries="Bazor WebAssembly, Bazor Server, SQL Server 2019, IndexedDB, Entity Framework Core, SAP Business One SDK, Bootstrap 4, Stripe SDK, PayPal .NET SDK and Binance API.;"
                         link="https://dev.azure.com/Redemerca/Redemerca"
                         Repository="azure">
                </Project>
                <Project tittle="E-Comerce 1.0 Year:  2019"
                         description="Groceries eCommerce web app fully integrated with the ERP SAP Business One to attend to around 40,000 retail customers."
                         action="My participation comprehended the App's financial and accounting development."
                         Languages="C#, JavaScript, SQL, LINQ, Razor, HTML, CSS;"
                         FrameworksLibraries="ASP.NET MVC 5, SQL Server 2017, Entity Framework, SAP Business One SDK, Bootstrap 3, JQuery, Stripe SDK, PayPal .NET SDK, Binance API.;"
                         link="https://gcyanir.visualstudio.com/MarluisWEB/_versionControl"
                         Repository="azure">
                </Project>
                <Project tittle="GC Internal Management Software:  2017"
                         description="Internal software of gestion of logistics and administration process, developed under .NET technology fully integrated with the ERP SAP Business One."
                         action="I participated in developing the accounting, financial and administrative modules."
                         Languages="C#, SQL,LINQ, XAML. ;"
                         FrameworksLibraries="WPF, SQL Server 2017, Entity Framework, SAP Business One SDK.;"
                         link="https://dev.azure.com/Redemerca/_git/GC"
                         Repository="azure">
                </Project>
                <Project tittle="Banking and Accounting automatized: 2016"
                         description="Program for automatic management of banking and accounting."
                         action="I developed the whole project."
                         Languages="C#, SQL, LINQ, XAML;"
                         FrameworksLibraries="WPF, SQL Server 2017, Entity Framework, SAP Business One SDK. Gmail API .NET;"
                         link="https://gersoncl10000.visualstudio.com/BancosAdmin/_git/BancosAdministrativo"
                         Repository="azure">
                </Project>

                <div class="fst-italic text-white-50  mt-2 text-center">#PersonalPublicProjects</div>

                <Project tittle="Parsonal web page: 2023"
                         description="Professional web page."
                         action="I developed the whole project."
                         Languages="C#, JavaScript, Razor, HTML, CSS, SASS.;"
                         FrameworksLibraries="Bazor WebAssembly, Bootstrap 5;"
                         link=""
                         Repository="github">
                </Project>
                <Project tittle="7Gplus: 2017"
                         description="Program to analyze the currency derivatives market."
                         action="I developed the whole project."
                         Languages="C#, SQL, LINQ, XAML ;"
                         FrameworksLibraries="WFP, SQL Server 2017, Entity Framework, FRED API, Eurostat Web Services;"
                         link=""
                         Repository="github">
                </Project>

            </div>
        </Content2>
        <Content3>
            <div class="m-2">
                <div class="row text-center m-0">
                    <div class="col-8">
                        <img height="50" src="img/icons/langara_coa.jpg" />
                        <div class="d-block">
                            <div class="font-st-pt-21 fw-bold">Langara College</div>
                            <div class="font-st-pt-16">English for Academic Purposes (LEAP)</div>
                            <div class="font-st-pt-14">BC,Canada (2023)</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img height="50" src="img/icons/Logo-Ilac.png" />
                        <div class="d-block">
                            <div class="font-st-pt-21 fw-bold">ILAC</div>
                            <div class="font-st-pt-16">Business English Certificate</div>
                            <div class="font-st-pt-14">BC,Canada (2022)</div>
                        </div>
                    </div>
                </div>

                <div class="row text-center m-0">
                    <div class="col-12">
                        <img height="50" src="img/icons/logoucab.png" />
                        <div class="d-flex flex-column">
                            <div class="font-st-pt-21 fw-bold">Andrés Bello Catholic University</div>
                            <div class="font-st-pt-16">Bachelor's Degree in Accounting</div>
                            <div class="font-st-pt-14">BO,Venezuela (2010)</div>
                        </div>
                    </div>
                </div>
            </div>
        </Content3>
        <Content4>
            <div class="h-100">
                <div class="bg-repository-photo">
                    <div class="row text-center align-items-start align-items-sm-center h-100 m-0">
                        <div class="col-12 col-sm-6">
                            <div class="align-middle">
                                <div class="d-flex justify-content-center flex-column">
                                    <div class="my-3">
                                        <a class="btn btn-dark" href="https://gersoncl10000.visualstudio.com/">
                                            <img class="icon-hg" src="img/icons/azurelogo.svg" />
                                        </a>
                                        <p class="text-black font-SC-pt-16 mt-2">
                                            Private Repository
                                        </p>
                                    </div>
                                    <div class="my-3">
                                        <a class="btn btn-dark" href="">
                                            <img class="icon-hg" src="img/icons/github.svg" />
                                        </a>
                                        <p class="text-black font-SC-pt-16 mt-2">
                                            Public Repository
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                        </div>
                    </div>

                </div>
            </div>
        </Content4>
    </SegmentContent1Colum2>



</Segment>
<Segment p_hz_dv_1_active="true" p_tittle_hz_div_1="Contact">

    <div class="row bg-black align-items-center p-0 m-0">
        <div class="d-none d-sm-block col-12 col-sm-5 col-md-5 col-lg-6 p-0">
            <div class="">
                <div class="bg-contact-photo">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-7 col-md-7 col-lg-6 text-white text-start p-0 ">

            <div class="d-flex flex-column w-contact-photo bg-contact-photo-tittle p-tittle-photo">
                <div class="d-flex flex-column px-2 px-sm-0">
                    <div class=" text-center text-sm-start ms-md-5 ms-lg-3">
                        <div class="font-Atn-pt-21 mb-1">
                            Getting in touch with me
                        </div>
                        <div class="font-st-pt-21 mb-2">
                            We can talk me trhough my social media or mail
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-center my-3">
                        <div class="d-flex justify-content-center mb-4 mb-md-0">
                            <img src="img/profile.jpg" alt="Avatar" height="50" style="border-radius:50%">
                            <div class="d-flex flex-column ps-2">
                                <div class="text-start font-qs-pt-16">Gerson Castillo</div>
                                <div class="text-start font-qs-pt-16">LinkedIn</div>
                            </div>
                        </div>
                        <div class="ms-md-4 d-flex justify-content-center align-items-center">
                            <a class="btn btn-bd-sg-1" href="https://www.linkedin.com/in/gersoncastillolorenzo/">
                                <img height="40" src="img/icons/linkedin.svg" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="text-center me-3">
                        <div class="m-2">
                            <a class="btn btn-bd-sg-1" href="">
                                <img height="35" src="img/icons/email.svg" />
                            </a>
                        </div>
                        <div class="font-qs-pt-18">Email</div>
                    </div>
                    <div class="text-center">
                        <div class="m-2">
                            <a class="btn btn-bd-sg-1" href="">
                                <img height="35" src="img/icons/instagram.svg" />
                            </a>
                        </div>
                        <div>
                            <div class="font-qs-pt-18">Instagram</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</Segment>




@code {
    //Horizotal divider's Background Color
    private Desing segment_desing = new Desing();
}