<div class="container-xl px-0">
<div class="bg-sg-1" style="height:80px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
    </div>

</div>

</div>



@code {
    
}
