@inject IJSRuntime JSRuntime



<nav class="navbar navbar-dark fixed-top navbar-expand-lg bg-black" style="height:80px">
    <div class="container">
        <!-- Navbar content -->
        <div class="container-fluid">
            <div class="d-flex">
                <a class="navbar-brand font-Atn-pt-28" href="#">Gerson Castillo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 font-Atn-pt-18">
                        <li class="nav-item">
                            <a class="nav-link" @onclick="@(() => putFocusOn("Skills"))" style="cursor: pointer">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @onclick="@(() => putFocusOn("WorkProjects"))" style="cursor: pointer">Work & Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" @onclick="@(() => putFocusOn("Contact"))" style="cursor: pointer">Contact</a>
                        </li>
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>
</nav>


@code {


    public async Task putFocusOn(string ElementId)
    {
        await JSRuntime.InvokeVoidAsync("focusOnElementbyId", ElementId);
    }

    private async Task ButtonClicked()
    {
        await JSRuntime.InvokeVoidAsync("console.log", "Prueba de Consolo");
       
       
    }
}
